<%include ./partials/header %>

<h1>index page!</h1>

<% blogs.forEach(function(blog){ %>

    <div class = "ui huge header segment" style="text-align:center"><%= blog.title %>
    <div class="ui  top attached">
        <div class="item">
            <img class="ui image rounded centered" src=" <%= blog.image %> ">
            <% if(blog.body && blog.body.length > 0) { %>
            <p><%= blog.body.substring(0, 100)%>......<a href="/blogs/<%= blog._id %>">read more</a></p>
            <% } %>
        </div>
    </div>
    </div>
<% }) %>

<% include ./partials/footer %>