

<% include ./partials/header %>
<div class = "ui main text container segment">
    <div class = "ui huge header">New Blog</div>
    <form action="/blogs" method="POST" class="ui form">
        <div class="field">
            <input type="text" placeholder="Enter blog name here!" name="blog[title]"></input>
        </div>
        <div class="field">
            <input type="text" placeholder="image" name="blog[image]"></input>
        </div>
        <div class="field">
            <textarea type="textarea" placeholder="Start writing!" name="blog[body]"></textarea>
        </div>
        <div class="field">
            <input type="submit" class="ui purple button"></input>
        </div>
    </form>
</div>
<% include ./partials/footer %>